body {
  background-color: rgb(7, 79, 79);
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}
.cube {
  background-color: rgb(206, 206, 206);
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.cube__title {
  font-size: 3em;
  padding: 0 15px;
}
.cube__title-span{
  font-size: 0.5em;
  font-weight: 500;
  color: rgb(16, 138, 138);
}
.cube__form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}
.cube__form-one {
  display: flex;
  flex-direction: column;
}
.cube__label {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 15px;
}
.cube__input {
  margin-bottom: 15px;
  max-width: 150px;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: 900;
}
.cube__form-two {
  display: flex;
  flex-direction: column;
}
.cube__btn-result {
  background-color: rgb(16, 158, 158);
  width: 150px;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: 15px;
  transition: all 0.2s ease-in;
}
.cube__btn-result:hover {
  background-color: rgb(7, 88, 88);
  color: aliceblue;
}

.result {
  background-color: rgb(206, 206, 206);
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 15px;
}
.box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}
.img {
  margin-right: 15px;
  height: 2.9em;
}
.result__content {
  display: flex;
  flex-direction: column;
}
.result__img-one {
  transform: rotate(180deg);
}
.result-text {
  font-size: 1.3em;
  font-weight: 300;
}
.result-strong {
  font-size: 1.7em;
}
.liter-one, .liter-two, .liter-three {
  color: rgb(16, 138, 138);
}
.result__img-three {
  transform: rotate(270deg);
}


.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}
.footer-text p{
 color: aliceblue;
}
